@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    @apply bg-transparent w-2;
  }
  *::-webkit-scrollbar-thumb:vertical {
    @apply bg-[#c0c0c0] rounded-full h-2;
  }
  html {
    @apply text-sm sm:text-base;
  }
  body {
    @apply px-3 md:px-8 font-inter max-w-[1200px] mx-auto;
  }
  input::placeholder {
    @apply text-placeholder text-sm;
  }
  .input:focus-within {
    @apply border-b-orange-600 border-b-2;
  }
  section {
    @apply my-8;
  }
}

@layer utilities {
  nav {
    @apply hover:text-black/60 transition-all;
  }
  nav a.link {
    @apply w-full hover:text-black;
  }
  .hoverElt {
    transition: transform 0.2s;
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-14 w-[110%] h-auto aspect-square rounded-full flex justify-center items-center;
  }
  .elt:hover .hoverElt {
    @apply -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  .btn {
    @apply px-9 py-3 rounded-full font-inter text-nowrap w-full xm:w-fit overflow-hidden font-medium;
  }
  #home .btn {
    @apply px-6 py-3 sm:px-9 sm:py-3;
  }
  .icon {
    @apply w-9 h-9 p-2 flex items-center justify-center bg-white rounded-full aspect-square;
  }
  .icon img {
    @apply w-4 transition-transform;
  }
  .icon:hover {
    @apply scale-110;
  }
  #contact .icon {
    @apply w-7 h-7 p-1;
  }
  .partner {
    @apply flex justify-around py-8 my-6;
  }
  .partner img {
    @apply h-14 xm:h-16 sm:h-20;
  }
  .title {
    @apply font-bold font-inter text-xl text-center sm:text-start mb-3;
  }
  .input {
    @apply border-b border-black w-full max-w-none sm:max-w-96 bg-transparent py-1 px-1 outline-none;
  }

  .menu {
    @apply fixed top-[4vw] right-[4vw] flex flex-col bg-grey aspect-square rounded-full  border shadow-md p-5 sm:p-7 z-10 transition origin-[calc(100%-50px)_calc(50px)] scale-0;
  }
  .menu nav a {
    @apply mx-2;
  }
  .menu.active {
    @apply scale-100 rounded-lg aspect-auto overflow-hidden;
  }
  .menuBtn {
    @apply w-16 h-16 rounded-full bg-black absolute top-[calc(4vw+1rem)] right-[calc(4vw+1rem)] z-20;
  }
  .menuBtn.active {
    @apply bg-transparent;
  }
  .menuBtn.active span {
    @apply bg-transparent;
  }
  .menuBtn.active {
    @apply bg-white transition-colors;
  }
  .menuBtn:hover .stick {
    --tw-rotate: 6deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  .menuBtn.active .stick.active:first-child {
    @apply rotate-45 translate-y-0 bg-black;
  }
  .menuBtn.active .stick.active:last-child {
    @apply -rotate-45 translate-y-0 bg-black;
  }
  .stickContainer {
    @apply absolute w-1/3 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none;
  }
  .stick {
    @apply w-full h-[1px] bg-white absolute left-1/2 -translate-x-1/2 transition;
  }
  .fullBgBlack {
    @apply w-[200vw] h-svh fixed top-0 -left-full z-10 bg-black opacity-0 invisible transition;
  }
  .fullBgBlack.active {
    @apply opacity-70 visible;
  }
}
.menuBtn.active .stick.active:first-child {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.menuBtn.active .stick.active:last-child {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
